<!DOCTYPE html>
<html>
  <head>
    <title>MeassageBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar  navbar-default">
       <div class="coontainer">
        <dev class="navbar-header">
          <%= link_to "MeassageBoard", root_path, class: "navbar-brand" %>
            
        </dev>
        <ul class="nav navbar-nav">
          <li> <%= link_to "sign-Up" ,new_user_registration_path %></li>
          <% if user_signed_in? %>
              <li><%= link_to "Sign out" ,destroy_user_session_path ,method: :delete %></li>
              
              <% else %>
              <li>
              <%= link_to "Log in", new_user_session_path %>
              
              </li>
          <% end %>

        </ul>
        <% if user_signed_in? %>
         <p><%= link_to "New Meassage", new_message_path ,class: "navbar-right navbar-text navbar-link" %></p>
        <% end %>
       </div>
    </div>
           <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <div class="container">
         <%= yield %>
       </div>
    
  </body>
</html>
